

<h3>Ajouter un nouvel evenement au calendrier</h3>
<form style="margin-bottom:100px;">
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez un titre pour l'evenement" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
            <input class="form-control"  type="date" data-date-format="mm/dd/yyyy">
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
</form>