<h3>Liste des Article</h3>
<table class="table table-hover" style="margin-bottom:70px;">
      <thead>
            <tr>
                  <th scope="col">#</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Catégorie</th>
                  <th scope="col">Action</th>
            </tr>
      </thead>
      <tbody>
            <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>
                        <span class="badge badge-primary">supprimer</span>
                        <span class="badge badge-secondary">modifé</span>
                        <span class="badge badge-success">publié</span>
                  </td>
            </tr>
            <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>
                        <span class="badge badge-primary">supprimer</span>
                        <span class="badge badge-secondary">modifé</span>
                        <span class="badge badge-success">publié</span>
                  </td>
            </tr>
            <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>
                        <span class="badge badge-primary">supprimer</span>
                        <span class="badge badge-secondary">modifé</span>
                        <span class="badge badge-success">publié</span>
                  </td>
            </tr>
      </tbody>
</table>