
<h3>Ajouter une Photo/Video aux archives</h3>
<form style="margin-bottom:60px;">
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez un titre pour la photo/video" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
            <select class="custom-select">
                  <option value="nothing" selected>Selectionner le type de fichier</option>
                  <option value="photo">Ajouter une photo</option>
                  <option value="video">Ajouter une vidéo</option>
            </select>
      </div>
      <div class="input-group mb-3">
            <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Uploader le fichier</label>
            </div>
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
