<main>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
                              <h1 class="mb-4 border-bottom border-primary d-inline-block">Academic Day Programm</h1>
                        </div>
                        <div class="col-12">
                              <h2 id="paragraph">Haut-Nkam Academic Day Vision, Mission, Purpose</h2>
                              <div style="padding-left: 5px;">
                                    <h4>VISION:</h4>
                                    <p>To support and inspire the Haut Nkam community youth towards good education and academic success by bringing 
                                    the community together to support them.</p>
                                    <h4>MISSION:</h4>
                                    <p>We plan and coordinate events intended to help motivate the Haut Nkam community youth of the Washington metropolitan
                                    area to be good students, to seek academic excellence, and to make their families and community proud. We create an environment 
                                    where our youth are recognized and rewarded for their hard work.</p>
                                    <h4>PURPOSES:</h4>
                                    <p>The purposes of the HNC-LAP are: <br>
                                          <ol>
                                                <li>To motivate all families in the HNC community to invest in their children education.</li>
                                                <li>To invest as a group into the future of our youth.</li>
                                                <li>To continuously integrate our youth into our growing community.</li>
                                                <li>To create and/or strengthen bonds between children and families within our community.</li>
                                                <li>To bring the children of our community together under a common and worthy goal which is education.</li>
                                                <li>To prepare a next HNC generation of good, responsible, and educated Citizens.</li>
                                          </ol>
                                    </p> 
                              </div>
                              <hr>
                              
                              <h2 id="paragraph" style="margin-top:50px;">Registration in the HNC-LAP Programm </h2>
                              <p>
                                    Parents and members of the HNC can register their children into the HNC-LAP program every year starting January 1st through March 1st. 
                                    The registration is free for all HNC members. Students from 1st grade to 12 grade can be registered during the registration period. <br>
                                    Information needed for registration include: <br>
                                    <ol>
                                          <li>Parents name and address</li>
                                          <li>Student name, current grade, school name and address, name, telephone, and email address of main teacher</li>
                                          <li>Application form printable version (Coming soon)</li>
                                    </ol>
                              </p>
                              <hr>

                              <h2 id="paragraph" style="margin-top:50px;">Welcome to the Haut-Nkam Academic Day</h2>
                              <p>The Academic Day's goal is to promote academic excellence in the Haut-Nkam Community Youth.
                              Thanks you for supporting the program..</p>
                        </div>
			</div>
		</div>
	</section>
</main>
