<main>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="pr-0 pr-lg-4">
						<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor.
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4 mt-lg-0">
					<form method="POST" action="#!" class="row">
						<div class="col-md-6">
							<input type="text" class="form-control mb-4" placeholder="Nom" name="name" id="name">
						</div>
						<div class="col-md-6">
							<input type="email" class="form-control mb-4" placeholder="Email" name="email" id="email">
						</div>
						<div class="col-12">
							<input type="text" class="form-control mb-4" placeholder="Sujet" name="subject" id="subject">
						</div>
						<div class="col-12">
							<textarea name="message" id="message" class="form-control mb-4" placeholder="Saisissez votre message ici" rows="5"></textarea>
						</div>
						<div class="col-12">
							<button class="btn btn-outline-primary" type="submit">Envoyez le message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>